{
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "bracketSpacing": true,

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-astro-organize-imports",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@components/(.*)$",
    "^@(?!styles)",
    "^@styles",
    "^[./]"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
