{
  "semi": false,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",

  "vueIndentScriptAndStyle": true,
  "plugins": [
    "prettier-plugin-astro",
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-astro-organize-imports"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "importOrder": [
    "^@?astro",
    "<THIRD_PARTY_MODULES>",
    "^@layouts/*",
    "^@routes/*",
    "^@components/*",
    "^@composables/*",
    "^@icons/*",
    "^@constants/*",
    "^@utils/*",
    "^@images/*",
    "^@styles/*"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "astroOrganizeImportsMode": "SortAndCombine"
}
