{
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-astro-organize-imports"
  ],
  "importOrder": ["^(next|react)", "<THIRD_PARTY_MODULES>", "^@components/(.*)$", "^@(?!styles)", "^@styles", "^[./]"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "astroOrganizeImportsMode": "SortAndCombine"
}
