---
import { Icon } from 'astro-icon/components'
import { t } from 'i18n:astro'

import PageLayout from '@layouts/PageLayout.astro'

import Help from '@components/pages/About/Help'
import HelpAccordion from '@components/pages/About/HelpAccordion'
import HeroAbout from '@components/pages/About/HeroAbout'
import Steps from '@components/pages/About/Steps'
import Button from '@components/ui/Button'

import { HREF } from '@constants/routes'

const title = t('about:META.TITLE')
const description = t('about:META.DESCRIPTION')
---

<PageLayout {title} {description}>
  <main class="bg-dots bg-[top_center] bg-no-repeat py-40 lg:py-12 sm:pb-4 sm:pt-8 xs:pt-2">
    <div class="container space-y-52">
      <div class="mb-52 space-y-52 px-40 lg:px-10 sm:px-0">
        <HeroAbout>
          <Button
            client:load
            slot="cta"
            as="a"
            size="lg"
            variant="shadow"
            target="_blank"
            href={HREF.feitCode.home}
            className="-space-x-2 px-10"
          >
            {t('about:HERO.CTA')}
            <Icon name="external-link" class="scale-[0.75]" />
          </Button>
        </HeroAbout>

        <Help>
          <HelpAccordion client:load>
            <Icon slot="student" name="book" />
            <Icon slot="teacher" name="briefcase" />
          </HelpAccordion>
        </Help>
      </div>

      <Steps client:idle />
    </div>
  </main>
</PageLayout>
