---
import { Icon } from 'astro-icon/components'
import { t } from 'i18n:astro'

import PageLayout from '@layouts/PageLayout.astro'

import HeroAbout from '@components/pages/About/HeroAbout'

const title = t('about:META.TITLE')
const description = t('about:META.DESCRIPTION')
---

<PageLayout {title} {description}>
  <main class="bg-dots bg-[top_center] bg-no-repeat py-20 lg:py-12 sm:pb-4 sm:pt-8 xs:pt-2">
    <div class="container space-y-40">
      <HeroAbout>
        <Icon slot="light" name="lightbulb" class="scale-[3] text-success drop-shadow-[0px_0px_2px_theme(colors.success)]" />
        <Icon slot="external" name="external-link" class="scale-[0.75]" />
      </HeroAbout>
    </div>
  </main>
</PageLayout>
