@tailwind base;

@layer base {
  /* Inter fonts */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-display: block;
    src: url(/fonts/inter/200.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url(/fonts/inter/300.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(/fonts/inter/400.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url(/fonts/inter/500.woff2) format('woff2');
  }

  /* Kanit fonts */
  @font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 200;
    font-display: block;
    src: url(/fonts/kanit/200.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url(/fonts/kanit/300.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(/fonts/kanit/400.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url(/fonts/kanit/500.woff2) format('woff2');
  }
}
