@tailwind base;

@layer base {
  /* Exo 2 fonts */
  @font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 200;
    font-display: block;
    src: url(/fonts/exo-2/200.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url(/fonts/exo-2/300.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(/fonts/exo-2/400.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url(/fonts/exo-2/500.woff2) format('woff2');
  }

  /* Kanit fonts */
  @font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 200;
    font-display: block;
    src: url(/fonts/kanit/200.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url(/fonts/kanit/300.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(/fonts/kanit/400.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url(/fonts/kanit/500.woff2) format('woff2');
  }
}
