@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  svg {
    width: 24px;
    height: 24px;
  }

  html[lang='mk'] :is(input, textarea) {
    @apply !font-inter placeholder:!font-inter;
  }

  /* Reset NextUI dropdown */
  [role='menuitemradio'] svg {
    width: auto;
    height: auto;
  }

  button:disabled {
    @apply pointer-events-none border-transparent bg-slate-800;
  }

  hr {
    height: 0.1px !important;
  }

  input:-webkit-autofill {
    -webkit-background-clip: text !important;
  }

  .subscribe-input[data-slot='input-wrapper'] {
    @apply group-data-[focus-visible=true]:!bg-transparent group-data-[focus-visible=true]:!ring-0 group-data-[focus-visible=true]:!ring-offset-0;
  }
}

@layer components {
  .container {
    @apply mx-auto w-full max-w-[theme(screens.xl.max)] px-6;
  }
}

@layer utilities {
  .debug {
    @apply outline outline-1 outline-primary;
  }

  .debug-full {
    @apply debug;
  }

  .debug-full > * {
    @apply debug;
  }

  .animate-pause {
    animation-play-state: paused;
  }

  .animate-play {
    animation-play-state: running;
  }

  .gradient-primary {
    @apply bg-gradient-to-br from-primary-800 to-secondary-300;
  }

  .gradient-secondary {
    @apply bg-gradient-to-tl from-secondary-200 to-secondary-400;
  }
}
