---
import I18nClient from '@astrolicious/i18n/components/I18nClient.astro'
import I18nHead from '@astrolicious/i18n/components/I18nHead.astro'
import Helmet, { type HeadItems } from 'astro-helmet'
import { Icon } from 'astro-icon/components'
import { getHtmlAttrs, getLocale } from 'i18n:astro'

import Footer from '@components/Footer.astro'

import Nav from '@components/Nav'
import FeitLogo from '@components/ui/FeitLogo.astro'
import '@styles/fonts.css'
import '@styles/global.css'

type Props = {
  title: string
  description?: string
}

const { title, description = '' } = Astro.props

const layoutHeadItems: HeadItems = {
  title,
  meta: [{ name: 'description', content: description }],
  link: [
    { rel: 'icon', type: 'image/ico', href: '/favicon.ico', sizes: '256x256' },

    { rel: 'sitemap', href: '/sitemap-index.xml' },

    // Preload resources
    { rel: 'preload', href: '/images/bg-dots.webp', as: 'image', type: 'image/svg+xml' },

    // Preload "Inter" fonts
    {
      rel: 'preload',
      href: '/fonts/inter/200.woff2',
      as: 'font',
      type: 'font/woff2',
      crossorigin: true,
    },
    {
      rel: 'preload',
      href: '/fonts/inter/300.woff2',
      as: 'font',
      type: 'font/woff2',
      crossorigin: true,
    },
    {
      rel: 'preload',
      href: '/fonts/inter/400.woff2',
      as: 'font',
      type: 'font/woff2',
      crossorigin: true,
    },
    {
      rel: 'preload',
      href: '/fonts/inter/500.woff2',
      as: 'font',
      type: 'font/woff2',
      crossorigin: true,
    },

    // Preload "Kanit" fonts
    {
      rel: 'preload',
      href: '/fonts/kanit/200.woff2',
      as: 'font',
      type: 'font/woff2',
      crossorigin: true,
    },
    {
      rel: 'preload',
      href: '/fonts/kanit/300.woff2',
      as: 'font',
      type: 'font/woff2',
      crossorigin: true,
    },
    {
      rel: 'preload',
      href: '/fonts/kanit/400.woff2',
      as: 'font',
      type: 'font/woff2',
      crossorigin: true,
    },
    {
      rel: 'preload',
      href: '/fonts/kanit/500.woff2',
      as: 'font',
      type: 'font/woff2',
      crossorigin: true,
    },
  ],
}

const locale = getLocale()

const { pathname } = Astro.url
---

<!doctype html>
<html {...getHtmlAttrs()}>
  <head>
    <Helmet options={{ omitHeadTags: true }} headItems={[layoutHeadItems]} />

    <I18nHead />
    <I18nClient />
  </head>

  <body class={locale === 'en' ? 'font-kanit' : 'font-inter'}>
    <div class="grid min-h-[100dvh] grid-rows-[auto_1fr_auto]">
      <Nav client:load {pathname}>
        <FeitLogo slot="logo" loading="eager" />

        <Icon slot="external" name="external-link" />
        <Icon slot="chevron" name="chevron-down" />

        <Icon slot="feit" name="nav-resources/feit" />
        <Icon slot="iKnow" name="nav-resources/iknow" />
        <Icon slot="eKursevi" name="nav-resources/e-kursevi" />

        <Icon slot="en" name="flags/us" class="h-full w-full scale-[0.9] sm:scale-[1]" />
        <Icon slot="mk" name="flags/mk" class="h-full w-full scale-[0.9] sm:scale-[1]" />
      </Nav>

      <slot />

      <Footer />
    </div>
  </body>
</html>
