---
import { Image } from 'astro:assets'
import clsx from 'clsx'
import { t } from 'i18n:astro'

import { ROUTES } from '@constants/routes'

import logo from '@images/logo.svg'

const className = Astro.props.class ?? ''
---

<a
  href={ROUTES.home}
  class={clsx('group flex w-fit h-fit items-center gap-1 *:transition-all *:duration-300 *:ease-soft-spring', className)}
>
  <p class="font-kanit text-2xl font-light md:text-xl">{t('NAV.LOGO.FEIT')}</p>

  <div class="w-[55px]">
    <Image
      src={logo}
      alt=""
      role="presentation"
      class="h-full w-full drop-shadow-[0px_0px_2px_theme(colors.primary)] group-hover:drop-shadow-[0px_0px_4px_theme(colors.primary)]"
    />
  </div>

  <p class="font-kanit text-2xl font-light md:text-xl">{t('NAV.LOGO.CODE')}</p>
</a>
